name: cli_script
version: 0.1.0-dev

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  async: ^2.6.0
  charcode: ^1.2.0
  meta: ^1.3.0
  path: ^1.8.0
  stack_trace: ^1.10.0
  string_scanner: ^1.1.0

dependency_overrides:
  async:
    git: {url: git://github.com/dart-lang/async}
