name: cli_script
version: 0.3.0
description:
  Write scripts that call subprocesses with the ease of shell scripting and the
  power of Dart.
repository: https://github.com/google/dart_cli_script

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  async: ^2.8.0
  charcode: ^1.2.0
  collection: ^1.15.0
  glob: ^2.0.1
  meta: ^1.3.0
  path: ^1.8.0
  source_span: ^1.9.0
  stack_trace: ^1.10.0
  string_scanner: ^1.1.0
  tuple: ^2.0.0

dev_dependencies:
  sass_analysis:
    git: {url: https://github.com/sass/dart-sass, path: analysis}
  test: ^1.16.8
  test_descriptor: ^2.0.0
